body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0E0B16;
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
    
    
}

.navbar {
    width: 100%;
    background-color: #555;
}


.navbar ul {
  text-decoration: none;
  display: inline-flex; 
  list-style: none;
  }

  .navbar ul li{
    padding: 5px;
    }

    .navbar ul li a{
      text-decoration: none;
    }

    .sub-menu{
      display: none; 
    }
    .sub-menu ul li{
      display:inline-block; 
    }

  .navbar ul li:hover .sub-menu{
      display: block;
      position: absolute;
      margin-top: 25px;
      margin-left: 15px;
    }

  .navbar a {
    float: left;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background-color: #000;
    border-radius: 5px;
  }

  .active {
    border-radius: 5px;
    background-color: #000;
  }
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  .navbar a.split {
    float: right;
    color: white;
  }
  .navbar .search-container {
    float: right;
  }

  .navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 0px;
    border-radius: 5px;
  }

  .navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .navbar .search-container button:hover {
    background: #ccc;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }

  .flex-item-left {
    /* background: blue; */
    opacity: 0.6;
    height: 500px;
    padding: 0px;
    flex: 50%;
  }
  
  .flex-item-right {
    /* background-color: red; */
    opacity: 0.6;
    padding: 0px;
    height: 500px;
    flex: 50%;
  }

  .flex-item-left .btn{
    position: absolute;
    top: 650px;
    left: 400px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:white;
    color:#000;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    background:white;
    /* margin-right: 800px ; */
  }
  

  .flex-item-right .btncar{
    position: absolute;
    top:650px;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    background: white;
    /* margin-right: 800px ; */
  }

